
*.pyc
*.pyc
.idea/ADS-PIII.iml
.idea/misc.xml
*.pyc
Output_Documents/Output_Schedule.csv
lesson/__pycache__/Lesson.cpython-38.pyc
file_manager/__pycache__/Manipulate_Documents.cpython-38.pyc
output_documents/Teste_andre.xlsx
