<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		{% load static %}
		<script type="text/javascript" src="{% static 'ads_app/functions.js' %}"></script>
		<title>ADS Schedule Optimus Prime</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<!-- Add additional CSS in static file -->

		<link rel="stylesheet" href="{% static 'ads_app/styles.css' %}">
	</head>
	<body>
	
		<div class="sidenav">
		   {% block sidebar %}
		   <ul class="sidebar-nav">
			  <li class="web-title">ADS P3.14</li>
			 <li><a href="{% url 'index' %}" id="home" name="home">{{ page_dict.home }}</a></li>
			 <li><a href="{% url 'results' %}" id="results" name="results">{{ page_dict.results }}</a></li>
		   </ul>
				<form class="lang" action="choose_language" method="POST" enctype="multipart/form-data">{% csrf_token %}
					<select name="chosen_language" id="chosen_language" onchange="this.form.submit()">
						<option value="en">Select Language</option>
						<option value="en">English</option>
						<option value="pt">Português</option>
					</select>
				</form>
		   {% endblock %}
		</div>
		
		<form class="content" action="results" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<br>
			<p id="home_metrics_selection" name="home_metrics_selection">{{ page_dict.home_metrics_selection }}</p>
			<select name="metrics" id="metrics" multiple>
				<option value="RoomlessLessons" name="home_RoomlessLessons">{{ page_dict.home_RoomlessLessons }}</option>
				<option value="Overbooking" name="home_Overbooking">{{ page_dict.home_Overbooking }}</option>
				<option value="Underbooking" name="home_Underbooking">{{ page_dict.home_Underbooking }}</option>
				<option value="BadClassroom" name="home_BadClassroom">{{ page_dict.home_BadClassroom }}</option>
					<option value="Gaps" name="home_Gaps">{{ page_dict.home_Gaps }}</option>
					<option value="RoomMovements" name="home_RoomMovements">{{ page_dict.home_RoomMovements }}</option>
					<option value="BuildingMovements" name="home_BuildingMovements">{{ page_dict.home_BuildingMovements }}</option>
					<option value="UsedRooms" name="home_UsedRooms">{{ page_dict.home_UsedRooms }}</option>
					<option value="ClassroomInconsistency" name="home_ClassroomInconsistency">{{ page_dict.home_ClassroomInconsistency }}</option>
			</select>
			<br><br>
			
			<p id="home_changes_to_file">{{ page_dict.home_changes_to_file }}</p>

			<div>
				<input type="radio" id="no_changes" name="changed" value="false"
					checked onclick="yesnoCheck();">
				<label for="no_changes">{{ page_dict.home_ChangesToFileNo }}</label>
				
				<input type="radio" id="yes_changes" name="changed" value="true"
					checked onclick="yesnoCheck();">
				<label for="yes_changes">{{ page_dict.home_ChangesToFileYes }}</label>

				<br>
				<p id="home_MaxThreshold" name="home_MaxThreshold">{{ page_dict.home_MaxThreshold }}</p>
				<input type="text" class="max" id="RoomlessLessons_max" name="RoomlessLessons_max" >    <label class="max" for="RoomlessLessons_max" name="home_RoomlessLessons_max">{{ page_dict.home_RoomlessLessons_max }}</label> <br>
				<input type="text" class="max" id="Overbooking_max" name="Overbooking_max" >            <label class="max" for="Overbooking_max" name="home_Overbooking_max">{{ page_dict.home_Overbooking_max }}</label> <br>
				<input type="text" class="max" id="Underbooking_max" name="Underbooking_max" >          <label class="max" for="Underbooking_max" name="home_Underbooking_max">{{ page_dict.home_Underbooking_max }}</label> <br>
				<input type="text" class="max" id="BadClassroom_max" name="BadClassroom_max" >          <label class="max" for="BadClassroom_max" name="home_BadClassroom_max">{{ page_dict.home_BadClassroom_max }}</label> <br>

				<br>
				<p id="home_CustomLabel" name="home_CustomLabel">{{ page_dict.home_CustomLabel }}</p>
		
				<input type="text" class="ifChecked" id="degree" name="degree" >           					     <label class="ifChecked" for="degree" name="home_degree">{{ page_dict.home_degree }}</label> <br>
				<input type="text" class="ifChecked" id="subject" name="subject" >         					     <label class="ifChecked" for="subject" name="home_subject">{{ page_dict.home_subject }}</label> <br>
				<input type="text" class="ifChecked" id="shift" name="shift" >             					     <label class="ifChecked" for="shift" name="home_shift">{{ page_dict.home_shift }}</label> <br>
				<input type="text" class="ifChecked" id="grade" name="grade" >             					   	 <label class="ifChecked" for="grade" name="home_grade">{{ page_dict.home_grade }}</label> <br>
				<input type="text" class="ifChecked" id="enrolled" name="enrolled" >       					     <label class="ifChecked" for="enrolled" name="home_enrolled">{{ page_dict.home_enrolled }}</label> <br>
				<input type="text" class="ifChecked" id="day_week" name="day_week" >       					     <label class="ifChecked" for="day_week" name="home_day_week">{{ page_dict.home_day_week }}</label> <br>
				<input type="text" class="ifChecked" id="begins_at" name="begins_at" >     					     <label class="ifChecked" for="begins_at" name="home_begins_at">{{ page_dict.home_begins_at }}</label> <br>
				<input type="text" class="ifChecked" id="ends" name="ends" >               					  	 <label class="ifChecked" for="ends" name="home_ends">{{ page_dict.home_ends }}</label> <br>
				<input type="text" class="ifChecked" id="day" name="day" >                 					 	 <label class="ifChecked" for="day" name="home_day">{{ page_dict.home_day }}</label> <br>
				<input type="text" class="ifChecked" id="characteristics_asked" name="characteristics_asked" >   <label class="ifChecked" for="characteristics_asked" name="home_characteristics_asked">{{ page_dict.home_characteristics_asked }}</label> <br>
				<input type="text" class="ifChecked" id="classroom" name="classroom" >              			 <label class="ifChecked" for="classroom" name="home_classroom">{{ page_dict.home_classroom }}</label> <br>
				<input type="text" class="ifChecked" id="max_capacity" name="max_capacity" >           			 <label class="ifChecked" for="max_capacity" name="home_max_capacity">{{ page_dict.home_max_capacity }}</label> <br>
				<input type="text" class="ifChecked" id="characteristics_actual" name="characteristics_actual" > <label class="ifChecked" for="characteristics_actual" name="home_characteristics_actual">{{ page_dict.home_characteristics_actual }}</label> <br>
			</div>
			<br>
			<p id="home_select_schedule" name="home_select_schedule">{{ page_dict.home_select_schedule }}</p>

			<input type="file" id="myFile" name="filename" required="required" onchange="csvJSON();">
			<input type="submit" id="submit" value={{ page_dict.home_Submit }}>
			<br>
		</form>
		<br>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
		<div class="content">
			<div id="csv_table" class="csv_table" name="csv_table">	</div>
			<script type="text/javascript" src="{% static 'ads_app/functions.js' %}"></script>
		</div>
	</body>
	<br>
</html>