<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script type="text/javascript">

				//If Yes pressed -> Show all fields. If No -> Hide and allow them to be empty when submitting
				function yesnoCheck() {
					var divsToHide = document.getElementsByClassName("ifChecked");
					if (document.getElementById('yes_changes').checked) {
						for(var i = 0; i < divsToHide.length; i++){
							divsToHide[i].style.visibility = "visible";
							divsToHide[i].style.required = 'true';
						}
					} else {
						for(var i = 0; i < divsToHide.length; i++){
							divsToHide[i].style.visibility = "hidden";
							divsToHide[i].style.required = 'false';
						}

					}
				};
				


			</script>
		<title>ADS Schedule Optimus Prime</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<!-- Add additional CSS in static file -->
		{% load static %}
		<link rel="stylesheet" href="{% static 'ads_app/styles.css' %}">
	</head>
	<body>

	<div class="sidenav">
	   {% block sidebar %}
	   <ul class="sidebar-nav">
		  <li class="web-title">ADS P3.14</li>
		 <li><a href="{% url 'index' %}">Home</a></li>
		 <li><a href="{% url 'results' %}">Results</a></li>
	   </ul>
	   {% endblock %}
	</div>

	 <form class="content" action="results" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<br>
		<p>Select Metrics to evaluate the algorithm- To select multiple metrics, press CTRL + Left Click</p>
		<select name="metrics" id="metrics" multiple>
		<option value="Roomless_Lessons">Roomless_Lessons</option>
		<option value="Overbooking">Overbooking</option>
		<option value="Bad_classroom">Bad_classroom</option>
		<option value="Gaps">Gaps</option>
		<option value="Movements">Movements</option>
		<option value="UsedRooms">UsedRooms</option>

		</select>
		<br><br>
		<input type="file" id="myFile" name="filename" required="required" onchange="csvJSON();">
		<input type="submit" id="submit" >
		<br>
		<p>Is your file standard or have you made any changes to it?</p>

		<div>
		  <input type="radio" id="yes_changes" name="changed" value="true"
				 checked onclick="yesnoCheck();">
		  <label for="yes_changes">Yes</label>
		  <input type="radio" id="no_changes" name="changed" value="true"
				 checked onclick="yesnoCheck();">
		  <label for="no_changes">No</label>
			<br>
		  <p>Please read each label and insert your custom name for it</p>

			<input type="text" class="ifChecked" id="degree" name="col1" >                 <label class="ifChecked" for="degree">Curso</label> <br>
			<input type="text" class="ifChecked" id="subject" name="col1" >                <label class="ifChecked" for="subject">Unidade de execução</label> <br>
			<input type="text" class="ifChecked" id="shift" name="col1" >                  <label class="ifChecked" for="shift">Turno</label> <br>
			<input type="text" class="ifChecked" id="grade" name="col1" >                  <label class="ifChecked" for="grade">Turma</label> <br>
			<input type="text" class="ifChecked" id="enrolled" name="col1" >               <label class="ifChecked" for="enrolled">Inscritos no turno (no 1º semestre é baseado em estimativas)</label> <br>
			<input type="text" class="ifChecked" id="day_week" name="col1" >               <label class="ifChecked" for="day_week">Dia da Semana</label> <br>
			<input type="text" class="ifChecked" id="begins_at" name="col1" >              <label class="ifChecked" for="begins_at">Início</label> <br>
			<input type="text" class="ifChecked" id="ends" name="col1" >                   <label class="ifChecked" for="ends">Fim</label> <br>
			<input type="text" class="ifChecked" id="day" name="col1" >                    <label class="ifChecked" for="day">Dia</label> <br>
			<input type="text" class="ifChecked" id="characteristics_asked" name="col1" >  <label class="ifChecked" for="characteristics_asked">Características da sala pedida para a aula</label> <br>
			<input type="text" class="ifChecked" id="classroom" name="col1" >              <label class="ifChecked" for="classroom">Sala da aula</label> <br>
			<input type="text" class="ifChecked" id="max_capacity" name="col1" >           <label class="ifChecked" for="max_capacity">Lotação</label> <br>
			<input type="text" class="ifChecked" id="characteristics_actual" name="col1" > <label class="ifChecked" for="characteristics_actual">Características reais da sala</label> <br>
		</div>

	</form>

	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
	<div id="csv_table" class="csv_table" name="csv_table">	</div>
	<script>
	
		//create Tabulator on DOM element with id "example-table"
		var table = new Tabulator("#csv_table", {
			height:400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
			 //assign data to table
			layout:"fitColumns", //fit columns to width of table (optional)
			columns:[ //Define Table Columns
				{title:"Curso", field:"curso", width:150},
				{title:"Unidade de Execução", field:"uc", hozAlign:"left"},
				{title:"Turno", field:"turno"},
				{title:"Turma", field:"turma"},
				{title:"Inscritos", field:"inscritos"},
				{title:"Dia da Semana", field:"dia_semana"},
				{title:"Início", field:"inicio", sorter:"date", hozAlign:"center"},
				{title:"Fim", field:"fim", sorter:"date", hozAlign:"center"},
				{title:"Dia", field:"dia", sorter:"date", hozAlign:"center"},
				{title:"Características da sala pedidas", field:"car_pedidas"},
				{title:"Sala da aula", field:"sala"},
				{title:"Lotação", field:"lotacao"},
				{title:"Características reais da sala", field:"car_reais"},
			
			
			
			],
			rowClick:function(e, row){ //trigger an alert message when the row is clicked
				alert("Row " + row.getData().id + " Clicked!!!!");
			},
		});

		//var csv is the CSV file with headers
		function csvJSON(){
			var csv = document.getElementById("myFile").files[0];
			const reader = new FileReader();

			reader.onload = function (e) {
				const text = e.target.result;
				const data = csvToArray(text);
				console.log(JSON.stringify(data));
				table.setData(JSON.stringify(data));

			};			
			
			reader.readAsText(csv);
			//var file_read = reader.readAsText(csv);
			//var data = csvToArray(file_read);
			////var lines=file_read.match(/("[^"]+"|[^,]+)/g);
			//var lines=file_read.split("\n");
			//var result = [];
			//
			//// NOTE: If your columns contain commas in their values, you'll need
			//// to deal with those before doing the next step 
			//// (you might convert them to &&& or something, then covert them back later)
			//// jsfiddle showing the issue https://jsfiddle.net/
			//var headers=lines[0].split(",");
			//
			//for(var i=1;i<lines.length;i++){
			//
			//var obj = {};
			//var currentline=lines[i].split(",");
			//
			//for(var j=0;j<headers.length;j++){
			//	obj[headers[j]] = currentline[j];
			//}
			//
			//result.push(obj);
			//
			//}
	
			//return result; //JavaScript object
			//return JSON.stringify(result); //JSON
			
		}
		
		//function csvToArray(str, delimiter = ",") {
		//  // slice from start of text to the first \n index
		//  // use split to create an array from string by delimiter
		//  const headers = str.slice(0, str.indexOf("\n")).split(delimiter);
		//
		//  // slice from \n index + 1 to the end of the text
		//  // use split to create an array of each csv value row
		//  const rows = str.slice(str.indexOf("\n") + 1).split("\n");
		//  
		//    // Map the rows
		//  // split values from each row into an array
		//  // use headers.reduce to create an object
		//  // object properties derived from headers:values
		//  // the object passed as an element of the array
		//  const arr = rows.map(function (row) {
		//	const values = row.split(delimiter);
		//	const el = headers.reduce(function (object, header, index) {
		//	  object[header] = values[index];
		//	  return object;
		//	}, {});
		//	return el;
		//  });
		//
		//  // return the array
		//  return arr;
		//}
		
		//function csvToArray(csv, delimiter = ",") {
		//
		//  var lines=csv.split("\n");
		//
		//  var result = [];
		//  var re_valid = /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
		//  var re_value = /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
		//  var regex = /(\s*'[^']+'|\s*[^,]+)(?=,|$)/g;
		//  var headers=lines[0].split(",");
		//
		//  for(var i=1;i<lines.length;i++){
		//
		//	  var obj = {};
		//	  var currentline=lines[i].split(/("[^"]+"|[^,]+,)/g);
		//	  //var currentline=lines[i].split(/('",'+|','+)/g);
		//
		//	  for(var j=0;j<headers.length;j++){
		//		  obj[headers[j]] = currentline[j];
		//	  }
		//
		//	  result.push(obj);
		//
		//  }
		//  
		//  //return result; //JavaScript object
		//  return result; //JSON
		//  
		//}
		
			// This will parse a delimited string into an array of
	// arrays. The default delimiter is the comma, but this
	// can be overriden in the second argument.
	function csvToArray( strData, strDelimiter ){
		// Check to see if the delimiter is defined. If not,
		// then default to comma.
		strDelimiter = (strDelimiter || ",");

		// Create a regular expression to parse the CSV values.
		var objPattern = new RegExp(
			(
				// Delimiters.
				"(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

				// Quoted fields.
				"(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

				// Standard fields.
				"([^\"\\" + strDelimiter + "\\r\\n]*))"
			),
			"gi"
			);


		// Create an array to hold our data. Give the array
		// a default empty first row.
		var arrData = [[]];

		// Create an array to hold our individual pattern
		// matching groups.
		var arrMatches = null;


		// Keep looping over the regular expression matches
		// until we can no longer find a match.
		while (arrMatches = objPattern.exec( strData )){

			// Get the delimiter that was found.
			var strMatchedDelimiter = arrMatches[ 1 ];

			// Check to see if the given delimiter has a length
			// (is not the start of string) and if it matches
			// field delimiter. If id does not, then we know
			// that this delimiter is a row delimiter.
			if (
				strMatchedDelimiter.length &&
				(strMatchedDelimiter != strDelimiter)
				){

				// Since we have reached a new row of data,
				// add an empty row to our data array.
				arrData.push( [] );

			}


			// Now that we have our delimiter out of the way,
			// let's check to see which kind of value we
			// captured (quoted or unquoted).
			if (arrMatches[ 2 ]){

				// We found a quoted value. When we capture
				// this value, unescape any double quotes.
				var strMatchedValue = arrMatches[ 2 ].replace(
					new RegExp( "\"\"", "g" ),
					"\""
					);

			} else {

				// We found a non-quoted value.
				var strMatchedValue = arrMatches[ 3 ];

			}


			// Now that we have our value string, let's add
			// it to the data array.
			arrData[ arrData.length - 1 ].push( strMatchedValue );
		}

		//Now that the information is parsed correctly we can send it to the tabulator table
		var result = [];
		var headers=arrData[0];
		
		for(var i=1;i<arrData.length;i++){
		
		  var obj = {};
		  //var currentline=lines[i].split(/('",'+|','+)/g);
		
		  for(var j=0;j<headers.length;j++){
			  obj[headers[j]] = arrData[i][j];
		  }
		
		  result.push(obj);
		
		}
		
		
		
		
		
		
		// Return the parsed data.
		return( result );
	}
		  
	</script>

	</body>
	<br>
	<div class="footer" id="footer" name="footer">
	  <p>Authors: Andreia Garçia, Nuna Dias, Carlota Portugal, Tiaga Martini --- ADS - 2021™</p>
	</div>
</html>